<%- include('./partials/head') %>

<article>
  <div class="animated-box in">
    <img src="<%= member.avatar %>" alt="Creative Coder">

    <div class="card">

      <h1><strong> <%= member.name %> <%= member.prefix %> <%= member.surname %>  </strong></h1>
      <p> <%= member.bio.html %> </p>

      <a href="info" class="myButton"><strong>NEXT</strong></a>

    </div>
  </div>
</article>

<%- include('./partials/foot') %>
